@import "./variables.scss";

.display-cards {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;

    @media screen and (max-width: $media-xxl) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: $media-xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $media-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $media-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $media-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
    margin-bottom: 100px;
  }

  .show-more {
    margin: 16px 0px;
    text-align: center;
    color: $white;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $blue;
  border-radius: 4px;
  overflow: hidden;
  height: 370px;
  img {
    cursor: pointer;
    min-width: 120px;
    width: 100%;
  }
  .action-button {
    height: 70px;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    .button {
      i {
        cursor: pointer;
        font-size: 32px;
      }
    }
  }
  .movie-description {
    padding: 10px;
    height: 70px;
    .title {
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 600;
    }

    .meta-container {
      display: flex;
      justify-content: space-between;

      .meta {
        display: flex;
        font-size: 14px;
        .divider {
          padding: 0 4px;
        }
      }
    }
  }

  &:hover {
    .action-button {
      display: flex;
    }
    .movie-description {
      display: none;
    }
  }
}

.header {
  height: $header-size;
  display: flex;
  align-items: flex-end;
  color: $white;
  font-size: 50px;
  margin: 2.5rem 0 0rem 0;
  font-weight: 600;

  div {
    margin: 0 10px;
  }
  @media screen and (max-width: $media-sm) {
    height: 180px;
    margin: 0.5rem 0 0rem 0;
  }
}

.switch {
  display: flex;
  background-color: transparent;
  align-items: center;

  .state {
    color: $white;
    margin: 0 12px;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $pink;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 50px;
  }

  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.input {
  input {
    height: 30px;
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
}
