// // Colors
// $pink: #cc4bc2;
// $purple: #aa1af2;
// $blue: #cc307c;
// $white: #ffffff;
// $lightpink: #c9b4da;
// $orange: #d7a943;

// Colors
$pink: #1DA1F2;
$purple: #1DA1F2;
$blue: #E1E8ED;
$white: #ffffff;
$lightpink: #14171a;
$orange: #d7a943;

// Media sizes
$media-sm: 576px;
$media-md: 798px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1440px;

$header-size: 110px;
